@model IEnumerable<MapDirections.Models.AppUser>

@{
    ViewData["Title"] = "Index";
}
<h3 class="p-4 text-center">Danh sách người dùng</h3>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>

                        <a asp-action="DeleteUser" asp-route-id="@item.Id"><i class="text-danger fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
